<div class="col-md-12">
  <h1>My Blog</h1>
  <div class="post">
    <%= link_to("New Post", new_post_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Content</td>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>#</td>
          <td><%= link_to(post.title, post_path(post)) %></td>
          <td><%= post.content %></td>
          <td>
              <%= link_to("Edit", edit_post_path(post), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", post_path(post),    class: "btn btn-sm btn-default", 
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>