<div class="col-md-4 col-md-offset-4">
    <h2>New Post</h2>
    <hr>
    <%= form_for @post do |f| %>
    <% if @post.errors.any? %>
    <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </ul>
    <% end %>
    Title
    <%= f.text_field :title %>
    <br>
    Content
    <br>
    <%= f.text_area :content %>
    <br>
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>
</div>